.core-heading {
  font-family: "Raleway", sans-serif;
  font-size: calc(2vh + 2vw + 2vmin);
  color: green;
}
.author-heading {
  font-family: "Raleway", sans-serif;
  font-size: calc(1vh + 1vw + 1vmin);
  color: grey;
  margin-bottom: 2vh;
}

.route-planner {
  font-family: "Raleway", sans-serif;
  font-size: calc(1vh + 1vw + 1vmin);
  color: grey;
}

.field-title {
  color: green;
}
